.App {
  text-align: center;
}

.Discover {
    margin: 30px 0;
}

.MovieImageNotFound {
    width: 300px;
    height: 169px;
    margin: auto;
    cursor: pointer;
}

.star-voter {
    width: 2rem !important;
    cursor: pointer;
}

.star-voter.clicked {
    color: goldenrod;
}

.movie-preview img {
    cursor: pointer;
}

@media (max-width: 1023px) {
    .is-input-centered {
        display: inline-flex !important;
    }
}
